body {
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    background-color: #f7afd4;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .continer {
    background-color: #bea2e5;
    padding: 30px 20px 10px 20px;
    border-radius: 8px;
    color: #bda1e4;
    width: 450px;
    margin: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
  }

  .continer label {
    display: block;
  }
  .continer .project-title {
    font-size: 14pt;
    opacity: 0.5;
    color: #f1f7f3;
  }
  .continer .project-name {
    font-size: 16pt;
    margin: 5px 0;
    color: #f1f7f3;
  }
  .continer .counter {
    padding: 25px;
    margin: 25px 0 15px 0;
    background-color: #f1f7f3;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    min-height: 80px;
    transition-duration: 0.4s;
  }

  .continer .counter:hover {
    background-color: #f7afd4;
    color: white;
  }
  
  .continer .counter div {
    display: inline-block;
  }
  .continer .counter .days,
  .continer .counter .hours,
  .continer .counter .minutes,
  .continer .counter .seconds {
    width: 25%;
    float: left;
    text-align: center;
  }
  
  .continer .counter .voteCount .value
  {
    display: block;
    font-size: 50pt;
    width: 100%;
    display: block;
  }
  .continer .counter .days .value,
  .continer .counter .hours .value,
  .continer .counter .minutes .value,
  .continer .counter .seconds .value {
    display: block;
    font-size: 36pt;
    width: 100%;
    display: block;
  }
  .continer .counter .days span,
  .continer .counter .hours span,
  .continer .counter .minutes span,
  .continer .counter .seconds span {
    font-size: 8pt;
    opacity: 0.8;
    width: 100%;
    display: block;
  }
  .continer .counter .hours::before,
  .continer .counter .minutes::before,
  .continer .counter .seconds::before {
    content: ":";
    float: left;
    font-size: 20pt;
    position: relative;
    margin-top: 10px;
    opacity: 0.7;
    -webkit-animation: pink 1s ease-in-out infinite;
            animation: pink 1s ease-in-out infinite;
  }

  .continer .buttons {
    margin: 25px 0 15px 0;
    background-color: #f1f7f3;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    min-height: 45px;
  }

  .continer .buttons .btn {
    background-color: #f1f7f3;
    border-radius: 8px;
    border: 0;
    transition-duration: 0.4s;
    height: 45px;
    width: 100%;
    font-size: 16pt;
    font-weight: 700;
    color: #bea2e5;
  }

  .continer .buttons .btn:hover {
    background-color: #f7afd4;
    color: white;
  }
  
  .centerIt {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  @-webkit-keyframes pink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes pink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }